<form novalitade class="card" ngForm (submit)="converter()">
    <mat-card-header>
        <mat-card-title class="card-title"> {{titulo}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-content class="binario">
            <mat-label class="texto">Binário: </mat-label>
            <mat-form-field class="input" appearance="fill">
                <input [(ngModel)]="binario" [ngModelOptions]="{standalone: true}" matInput placeholder=" Binário"
                    [value]="binario">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content class="decimal">
            <mat-label class="texto">Decimal: </mat-label>
            <mat-form-field class="input" appearance="fill">
                <input [(ngModel)]="decimal" [ngModelOptions]="{standalone: true}" matInput placeholder="Decimal"
                    [(value)]="decimal" disabled>
            </mat-form-field>
        </mat-card-content>
        <button class="botao" type="submit">Converter</button>
    </mat-card-content>
</form>